* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(135deg, #fff3d6, #f8d49d);

    color: #4a2c1a;

    padding: 30px;
}

.card {
    width: 100%;
    max-width: 500px;

    padding: 30px;

    background: rgba(255, 255, 255, 0.6);

    border-radius: 20px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    text-align: center;
}

h1 {
    margin-bottom: 25px;

    color: #c96b00;

    font-size: 36px;

    text-align: center;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: bold;

    color: #8b4513;
}

input {
    width: 100%;

    padding: 10px;

    border: 2px solid #f0c27b;

    border-radius: 8px;

    font-size: 16px;

    outline: none;
}

input:focus {
    border-color: #c96b00;
}

button {
    margin-top: 10px;

    padding: 12px;

    border: none;

    border-radius: 10px;

    background-color: #c96b00;

    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background-color: #a95600;
}

.resultado {
    margin-top: 25px;

    padding: 20px;

    background-color: rgba(255, 255, 255, 0.7);

    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resultado h2 {
    margin-bottom: 15px;

    color: #8b4513;
}

.resultado p {
    margin: 10px 0;

    font-size: 18px;
}

.aprovado {
    color: green;
    font-weight: bold;
}

.recuperacao {
    color: #d98200;
    font-weight: bold;
}

.reprovado {
    color: red;
    font-weight: bold;
}

/* testando sitezin*/