* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D2042D;
    color: black;
    line-height: 1.6;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    max-width: 100;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.logo {
    color: white;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu a {
    color: #dddddd;
}

.menu a:hover {
    color: #D2042D
}